<link rel="stylesheet" href="https://cloud.typography.com/6507056/7202192/css/fonts.css">
<style>
:root{
    font-size:1rem;
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1480px) {
    .container {
        width:1400px
    }
}

h1,h2,h3,h4,h5{
    font-family: "Domaine Display Narrow", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;

}

#s-lg-guide-header-info h1, .s-lib-header h1{
    font-size: calc(2.5rem + (2.875 - 2.5) * ((100vw - 20rem) / (64 - 20)));
}

div#s-lg-guide-header-info {
    padding: 6px 8px;
}

#s-lib-admin-bc .breadcrumb, #s-lib-bc .breadcrumb {
    margin: 0.2rem 0 0.2rem 0;
}
body{
    background-color:#f3f2f2;
    color:#262525;
    font-family: "Gotham Narrow SSm A","Gotham Narrow SSm B",Tahoma,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size:1rem;
    margin:0;
    padding:0;
}

p{
    margin-bottom: 1rem;
    line-height:1.5;
}


a {
    font-weight: bold;
    border-bottom: 1px solid #900;
    word-wrap: break-word;
    transition: 0.2s all ease;
    color:rgb(38, 37, 37);
}

a:hover, a:focus, a:visited:hover {
    border-bottom: 0px solid transparent;
    text-decoration: none;
}

a:hover, a:focus {
    color: #900;
}

.nav > li > a:hover, .nav > li > a:focus {
    outline: none;
}

a.s-lg-label-more{
border-bottom:0px;
}

#s-lib-scroll-top > a{
    border-bottom:0px;
}
/*#s-lg-guide-header-info h1, .s-lib-header h1{
    font-size: calc(2.5rem + (2.875 - 2.5) * ((100vw - 20rem) / (64 - 20)));
}*/

.s-lib-box .s-lib-box-title {
    background-color:transparent;
    font-size: calc(2rem + (2.25 - 2) * ((100vw - 20rem) / (64 - 20))) !important;
    color:#262525;
    border-bottom: 0;
}

.s-lib-box{
    border:0;
    box-shadow:none;
    background-color:transparent;
}

ul.nav.nav-pills.nav-stacked.split-button-nav {
    border: 1px solid #bab6b5;
}

ul.nav.nav-pills.nav-stacked.split-button-nav {
    border-left-width: 4px;
    border-left-color: #bab6b5;
    border-left-style: solid;
}

#s-lg-tabs-container .nav-tabs > li > a, #s-lg-tabs-container .nav-tabs > li > button, #s-lg-tabs-container .nav-pills > li > a, #s-lg-tabs-container .nav-pills > li > button {
    border-radius:0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: #fff;
    color:inherit;
    font-weight: normal;
    text-decoration: underline;
}

#s-lg-tabs-container .nav-tabs > li:not(:last-child) > a, #s-lg-tabs-container .nav-tabs > li:not(:last-child) > button, #s-lg-tabs-container .nav-pills > li:not(:last-child) > a, #s-lg-tabs-container .nav-pills > li:not(:last-child) > button {
    border-bottom: 1px solid #bab6b5;
}

#s-lg-tabs-container .nav-tabs > .active > a, #s-lg-tabs-container .nav-tabs > .active > button, #s-lg-tabs-container .nav-pills > .active > a, #s-lg-tabs-container .nav-pills > .active > button {
    color: #ffffff;
    cursor: default;
    background-color: #093b78;
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom-color: transparent;
    font-weight: normal;
}

#s-lg-tabs-container .nav-tabs > li > a:hover, #s-lg-tabs-container .nav-tabs > li > button:hover, #s-lg-tabs-container .nav-pills > li > a:hover, #s-lg-tabs-container .nav-pills > li > button:hover {
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #d2d0cf !important;
    color: #900;
}

#s-lg-tabs-container .nav-tabs > .active:hover > a, #s-lg-tabs-container .nav-tabs > .active > button:hover, #s-lg-tabs-container .nav-pills > .active > a:hover, #s-lg-tabs-container .nav-pills > .active > button:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom-color: transparent;
    background-color: #d60000 !important;
    font-weight: normal;
}

.nav-stacked>li+li {
    margin-top: 0;
    margin-left: 0;
}

#s-lg-tabs-container .nav-tabs > .active > a, #s-lg-tabs-container .nav-tabs > .active > button, #s-lg-tabs-container .nav-pills > .active > a, #s-lg-tabs-container .nav-pills > .active > button {
background:#900;
color:#fff;
}

.s-lib-profile-container{
    background:#dedddc;
    border-bottom-right-radius: 50px;
    padding:20px;

}

.s-lib-profile-email a{
    width:100%;
    display:block;
    border:0;
    border-radius:0;
    color: #fff !important;
    background-color: #900;
    text-transform: uppercase;

}
.s-lib-profile-email a:focus, .s-lib-profile-email a:hover{
 background-color: #d60000;
}

.label-info[href]:hover{
background-color: #d60000;
border:0;
}

.s-lib-profile-widget button{
    width:100%;
    display:block;
    border:0;
    border-radius:0;
    color: #fff !important;
    background-color: #900 !important;
    text-transform: uppercase;

}

#s-lib-bc{
    background:transparent;
}

header a {
    border-bottom:none;
}

header {
    background: linear-gradient( 90deg, #093B78 30%, rgba(255,255,255,0.85) 100%);
    border-bottom: 30px solid #900;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.4);
    margin-bottom:1.5em;
}
/*remove scroll button*/
#s-lib-scroll-top{
    display:none;
}

/*ur header customizations */

.urheader{
background:white;
padding:1em;
width:100%;
}

.urheader a{
border-bottom: none;
}
/*
#university-logo-hm{
    background: url(https://d2n43swdo6jzfk.cloudfront.net/dist/img/svg/shield-wordmark-inline-RGB.svg) center center no-repeat;
    background-size: 100% 100%;
    display: block;
    width:300px;
    padding:2em;
    transition: 0.2s all ease;
}

#university-logo-hm a {
    border-bottom:0;
}*/

footer {
    background: #262525;
    color: #BAB6B5;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*new a-z changes */

/*.az-item h4 a{
    font-size:1.6em;
}*/

h4{
    font-size: 1.4rem;
}
.az-item h4 a:visited{
    color:rgb(38, 37, 37);
}

#az-search-col-1>nav {
    background-color: #dedddc;
}

#s-lib-bc-page{
    color:white !important;
}

#s-lib-bc-site > a{
    color:white !important;
}

#s-lib-bc-customer > a{
    color:white !important;
}

.urheader a{
color: #900;
font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (min-width: 601px) {
  div.urheader a {
    font-size:40px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.urheader a {
    font-size: 30px;
  }
}

#s-lg-az-popular, #s-lg-az-trials {
    background-color: #dedddc;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.az-configured-fields-label {
    color: #262525;
}

.az-configured-fields-value {
    color: #262525;
}

#s-lg-az-popular .az-description, #s-lg-az-popular .az-description-full, #s-lg-az-trials .az-description, #s-lg-az-trials .az-description-full {
    color: #262525;
}

.select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--highlighted {
    background-color: #dedddc;
    color: #262525;
    transition: color .2s ease;
}

#s-lib-public-header-title {
     margin-bottom: 0; 
}

#s-lib-public-header-desc{
display:none;
}

#s-lib-footer-public{
    width:100%;
}

.s-lg-az-result-badge-new {
    background-color: #990000;
}

.az-filter-chip>a{
    border-bottom:0;
}

a#az-mobile-filter-edit {
    border-bottom: 0;
}

@media(max-width:500px){
    #s-lib-bc{
    display:none;
}
}

.select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--selected {
    background-color: #dedddc;
    color: #262525;
}

/* end new a-z changes */

.s-lib-footer{

    background: #262525;
    color: #BAB6B5;
    border-bottom: 1px solid #bab6b5;ß
    border-top:0px;

}

span.s-lg-text-greyout {
    color: #BAB6B5;
}

#s-lib-footer-login-link a, #s-lib-footer-support-link a {
    color:#BAB6B5;
}

footer a{
    color:#BAB6B5;
    border-bottom: 0px;
}

div#s-lg-guide-header-info {
    margin-bottom: 20px;
}

</style>